@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --extraLight-grey: #eaecf0;
  --light-grey: #d0d5dd;
  --regular-grey: #98a2b3;
  --medium-grey: #667085;
  --semiBold-grey: #475467;
  --bold-grey: #344054;
  --extraBold-grey: #1d2939;
  --black-grey: #101828;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fcfcfd;
  color: var(--black-grey);
}

.container {
  max-width: 70%;
  margin: 0 auto;
}
.header {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: auto;
  padding-top: 2.5rem;
}
.header .profile-container {
  width: 100%;
  text-align: center;
}
.profile-imgContainer {
  position: relative;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.profile-imgContainer > img:nth-child(1) {
  width: 100%;
}

.camera-overlay-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(71, 84, 103, 0.5);
  transition: all 0.6s ease-in;
}

.profile-imgContainer .camera-overlay-bg img {
  position: absolute;
  left: 40px;
  bottom: 10px;
  width: 25px;
}

.profile-imgContainer:hover .camera-overlay-bg {
  display: block;
}

.profile-container > p:nth-child(2) {
  font-weight: 700;
  margin-top: 1rem;
  font-size: 20px;
}

.profile-container > p:nth-child(3),
.menu {
  display: none;
}

.header .share-tooltip {
  border: 1px dashed var(--light-grey);
  width: 35px;
  height: 35px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 0;
  transition: all 0.6s ease;
}
.header .share-tooltip:hover {
  background-color: var(--extraLight-grey);
}

.share-tooltip .tiptext {
  visibility: hidden;
  position: absolute;
  margin: 0;
  width: 77px;
  font-size: 12px;
  background-color: #101828;
  filter: drop-shadow(1px 1px 8px #10182848);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  z-index: 1;
  right: 50px;
  transition: visibility 0.3s;
}

.share-tooltip .tiptext::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -5px;
  right: -21%;
  border: 10px solid #101828;
  border-color: transparent transparent transparent #101828;
}

.share-tooltip:hover .tiptext {
  visibility: visible;
}

.share-tooltip .share {
  display: block;
}

.links {
  margin-top: 56px;
}
.btn {
  all: unset;
  color: var(--black-grey);
  font-weight: 500;
  display: block;
  text-align: center;
  width: 100%;
  border-radius: 8px;
  background-color: var(--extraLight-grey);
  padding: 24px 0;
  margin-bottom: 24px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.btn:hover {
  background-color: var(--light-grey);
}

.social-media {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 24px 0;
}

.footer {
  padding: 48px 0;
}
.footer hr {
  border: 1px solid var(--extraLight-grey);
  background-color: var(--extraLight-grey);
}
.footer .sponsor {
  padding-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .sponsor span {
  font-size: 16px;
  color: var(--medium-grey);
  font-weight: 400;
}

@media (max-width: 800px) {
  .footer .sponsor span {
    font-size: 12px;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 90%;
  }
  .share-tooltip .share {
    display: none;
  }
  .menu {
    display: block;
  }
  .footer .sponsor {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .footer .sponsor img:first-child {
    width: 140px;
  }
  .footer .sponsor img:last-child {
    width: 100px;
  }
  .footer .sponsor span {
    font-size: 16px;
  }
}
